[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GroupSeq"]
	path = GroupSeq
	url = https://github.com/rpahl/groupseq
[submodule "container"]
	path = container
	url = https://github.com/rpahl/container
[submodule "pipeflow"]
	path = pipeflow
	url = https://github.com/rpahl/pipeflow
